# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Distribution / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Logs & temp files
# =========================
*.log
*.tmp
*.swp
*.bak

# =========================
# Test / coverage
# =========================
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.nox/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Environment variables
# =========================
.env
.env.*
